@import "~normalize.css";
@import "resetcss";
@import "~material-design-icons/iconfont/material-icons.css";

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.scroll-lock {
  overflow: hidden;
}

body {
  background: url('../img/Background/background.svg');
  font-family: 'Open Sans', sans-serif;
}

.game-container {
  max-width: 1160px;
  margin: 0 auto;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;

    &__menu {

      &-button {
        position: relative;
        z-index: 2000;
        cursor: pointer;

        &-active {
          position: fixed;
          left: 20px;
          top: 30px;
        }
      }

      &-burger {
        position: fixed;
        visibility: visible;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(41, 41, 41, 0.6);
        z-index: 1000;
        transition: .5s;

        &-active {
          font-weight: bold;

          &:after {
            content: '';
            display: block;
            margin-left: 15px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: white;
          }
        }

        &-hide {
          visibility: hidden;
          background: rgba(41, 41, 41, 0);

          .header__menu-burger__box {
            left: -100%;
          }
        }

        &__box {
          position: fixed;
          left: 0;
          width: 320px;
          height: 100%;
          background: #2983ae;
          color: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          transition: .7s;
          box-shadow: 0 0 10px rgba(0,0,0,0.5);

          i {
            margin-right: 15px;
          }

          &-list {

            &-item {
              display: flex;
              align-items: center;
              font-size: 1.5rem;
              margin: 20px 0;
              cursor: pointer;

              &:hover:not(.header__menu-burger-active) {
                opacity: 0.8;
              }

              &:nth-child(2) {
                margin-bottom: 45px;
              }
            }
          }

          &-stat {
            display: flex;
            align-items: center;
            font-size: 1.3rem;
          }
        }
      }
    }
  }

  .game-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card-container {
      opacity: 1;
      transform: scale(1);
      width: 250px;
      height: 250px;
      margin: 20px 20px;
      cursor: pointer;
      perspective: 1000px;
      transition: .4s;

      &-hide {
        transform: scale(0.5);
      }

      &:hover .card .front, &:hover .card .back {
        box-shadow: 0 0 15px rgba(0,0,0,0.6);
      }

      .card {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: .7s;

        &-flip {
          transform: rotateY(180deg);

          i {
            transform: rotate(180deg) !important;
          }
        }

        .front, .back {
          position: absolute;
          backface-visibility: hidden;
          background: white;
          width: 100%;
          height: 100%;
          border-radius: 20px;
          overflow: hidden;
          box-shadow: 0 0 8px rgba(0,0,0,0.5);
          transition: .5s;
        }

        .back {
          transform: rotateY(180deg);
        }

        &__img {
          height: 75%;
          transition: .3s;
          z-index: 20;

          &-hide {
            height: 100%;
          }

          &-inactive {
            opacity: .1;
            cursor: default;
          }
        }

        &__info {
          height: 25%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 20px;
          border-top: 1px solid rgba(0,0,0,0.1);

          &-title {
            color: #5d5d5d;
            font-weight: bold;
          }

          &-item {
            color: #07577e;

            i {
              transform: rotate(0deg);
              transition: .3s;

              &:hover {
                opacity: .6;
              }
            }
          }
        }
      }
    }

    .statistics {
      width: 100%;
      margin: 20px 20px;

      &__buttons {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;

        &-button {
          padding: 10px 20px;
          border: 1px solid white;
          border-radius: 20px;
          color: white;
          cursor: pointer;
          transition: .3s;
          font-weight: bold;

          &:hover {
            background: white;
            color: #00a8ff;
          }

          &:active {
            background: transparent;
            color: white;
          }

          & + .statistics__buttons-button {
            margin-left: 20px;
          }
        }
      }

      &__table {
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 0 6px rgba(0,0,0,0.2);

        thead {
          text-align: left;
          font-size: 1.3rem;
          font-weight: bold;
          cursor: pointer;

          tr {

            th {
              padding: 15px 15px;
              color: #00a8ff;
              background: rgba(255, 255, 255, 0.8);
            }
          }

          .ascend:after {
            font-size: 0.9rem;
            content: '▼';
          }

          .descend:after {
            font-size: 0.9rem;
            content: '▲';
          }
        }

        tbody {
          font-size: 1rem;
          text-align: left;

          tr {
            &:nth-child(even) {
              color: #00a8ff;
              background: rgba(255, 255, 255, 0.8);
            }

            &:nth-child(odd) {
              color: white;
              background: #22b1fc;
            }

            td {
              padding: 7px 15px;
            }
          }
        }
      }
    }
  }

  .footer {
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    transition: .5s;

    &-hide {
      opacity: 0;
    }

    &__buttons {
      position: relative;
      display: flex;
      margin-right: 20px;
    }

    &__icons {
      display: flex;
      overflow: hidden;
    }
  }
}
