@import "~normalize.css";
@import "resetcss";
@import "~material-design-icons/iconfont/material-icons.css";

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.scroll-lock {
  overflow: hidden;
}

.game-container {
  max-width: 1160px;
  margin: 0 auto;

  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;

    &__menu {

      &-button {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: red;
        cursor: pointer;
        z-index: 2000;
      }

      &-burger {
        position: fixed;
        visibility: visible;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(41, 41, 41, 0.6);
        z-index: 1000;
        transition: .5s;

        &-active {
          font-weight: bold;
        }

        &-hide {
          visibility: hidden;
          background: rgba(41, 41, 41, 0);

          .header__menu-burger__box {
            left: -100%;
          }
        }

        &__box {
          position: fixed;
          left: 0;
          width: 270px;
          height: 100%;
          background: lightgray;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: .7s;

          &-list {

            &-item {
              font-size: 1.3rem;
              margin: 15px 0;
              cursor: pointer;
            }
          }
        }
      }
    }

    &__mode-button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: red;
      cursor: pointer;
    }
  }

  .game-title {
    font-size: 25px;
    padding: 0 10px;
  }

  .game-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card-container {
      width: 250px;
      height: 250px;
      margin: 20px 20px;
      cursor: pointer;
      perspective: 1000px;

      &:hover .card .front, &:hover .card .back {
        box-shadow: 0 0 10px rgba(0,0,0,0.4);
      }

      .card {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: .7s;

        &-flip {
          transform: rotateY(180deg);

          i {
            transform: rotate(180deg) !important;
          }
        }

        .front, .back {
          position: absolute;
          backface-visibility: hidden;
          background: white;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          overflow: hidden;
          box-shadow: 0 0 2px rgba(0,0,0,0.4);
          transition: .3s;
        }

        .back {
          transform: rotateY(180deg);
        }

        &__img {
          height: 180px;
          border-bottom: 1px solid rgba(0,0,0,0.1);
        }

        &__info {
          height: 70px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 20px;

          &-item {
            line-height: 0;

            i {
              transform: rotate(0deg);
              transition: .3s;

              &:hover {
                opacity: .6;
              }
            }
          }
        }
      }
    }
  }
}
